@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
    background: #c6e0e5;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 400px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-left: 100px
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cell {
  border:   thick double rgba(0, 128, 128, 0.3);
  width: 250px;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.btn {
  button {
    background: #a2cbd2;
    color: white;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #78c5d3;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    
    img{
      margin-left: 20px;
    }
  }
}
