.card {
    border: 5px dashed #a2cbd2;
    width: 100px;
    margin: 40px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    color: #0d1c24;
    font-size: 20px;
  }